# VMware Vsphere
VCENTER_HOST=changeme
VCENTER_USER=user
VCENTER_PASSWD=passwd

# VMware Aria
ARIA_HOST=IPtoAria
ARIA_USER=changeme
ARIA_AUTH_SOURCE=local # local is the default value if variable is empty
ARIA_PASSWD=changeme
ARIA_RESOURCE_ID1=resourceIdVcenterServer1
ARIA_RESOURCE_ID2=resourceIdVcenterServer1

# Dell Unisphere
UNITY_HOST=changeme
UNITY_USER=changeme
UNITY_PASSWD=changeme

# Dell Powerstore
POWERSTORE_HOST=changeme
POWERSTORE_USER=changeme
POWERSTORE_PASSWD=changeme
