# VMware Vsphere
VCENTER_HOST=changeme
VCENTER_USER=user
VCENTER_PASSWD=passwd

# VMware Aria
ARIA_HOST=changeme
ARIA_USER=changeme
ARIA_PASSWD=changeme

# Dell Unisphere
UNITY_HOST=changeme
UNITY_USER=changeme
UNITY_PASSWD=changeme

# Dell Powerstore
POWERSTORE_HOST=changeme
POWERSTORE_USER=changeme
POWERSTORE_PASSWD=changeme
