# influxDB
INFLUXDB_HTTP_PORT=8181
INFLUXDB_HOST=influxdb3
INFLUXDB_TOKEN=
INFLUXDB_BUCKET=local_system        # Your Database name
INFLUXDB_ORG=local_org
INFLUXDB_NODE_ID=node0

# grafana

ADMIN=changeme                      # user admin grafana
PASSW=changeme                      # mot de passe admin grafana

# Aria

ARIA_RESOURCE_ID1=                  # id de la vCenter
MAP_ID1=                            # nom de la vCenter
ARIA_RESOURCE_ID2=                  # id de la vCenter
MAP_ID2=                            # nom de la vCenter

# vSphere

DS_FOLDER1=                         # nom de la datastore unity 500
DC_NAME1=                           # nom de la datacenter
DS_FOLDER2=                         # nom de la datastore unity 500
DC_NAME2=                           # nom de la datacenter
