# influxDB
INFLUXDB_HTTP_PORT=8181
INFLUXDB_HOST=influxdb3
INFLUXDB_TOKEN=
INFLUXDB_BUCKET=local_system        # Your Database name
INFLUXDB_ORG=local_org
INFLUXDB_NODE_ID=node0

# grafana

ADMIN=changeme
PASSW=changeme
