VCENTER_HOST=ipToVsphere
VCENTER_USER=userForVsphere
VCENTER_PASSWD=passwordForVsphere
UNITY_HOST=ipToUnity
UNITY_USER=userForUnity
UNITY_PASSWD=passwordForUnity
POWERSTORE_HOST=ipToPowerStore
POWERSTORE_USER=userForPowerStore
POWERSTORE_PASSWD=passwordForPowerStore
